<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>   
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>etu1792.framework.servlet.FrontServlet</servlet-class>
        <init-param>
          <param-name>package</param-name>
          <param-value>modele</param-value>
          <description>package_modele</description>
        </init-param>  
        <init-param>
          <param-name>connected</param-name>
          <param-value>is_connected</param-value>
          <description>HashMap_key</description>
        </init-param>  
        <init-param>
          <param-name>profil</param-name>
          <param-value>profil</param-value>
          <description>HashMap_key</description>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
